@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
.marquee-container h1{
    color:#FEFEFF;
    font-family: 'Clash Display', sans-serif;
    font-size: 5rem;
    font-weight:500;
    white-space: nowrap;
    padding:0;
    letter-spacing:1.5px;
    animation: move-rtl 7000ms linear infinite;

}
img{
    margin-left:1.5rem;
    margin-right:1.5rem;
    height: 53px;
    vertical-align: middle;
}
@keyframes move-rtl{
    0%{
        transform:translate(0);
    }
    100%{
        transform:translate(-100%);
    }
}
.marquee-container{
    display:flex;
    justify-content:center;
    background:#F76A07;
    align-items: center;
    padding:10px;
    overflow:hidden;
    gap:1rem;
    border-top:4px solid #FEFEFF;
    border-bottom:4px solid #FEFEFF;
}
/*Rules-Section*/
.rules-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:80px;
    gap:3rem;
    column-gap: 20rem;
}
.rules-container h1{
    margin: left 42px;
    font-size:4rem;
    color:#FEFEFF;
    font-family:'Clash Display',sans-serif;
    font-weight:600;
    letter-spacing: 2px;
}
.select-container{
    align-self:center;
    display:flex;
    align-items: center;
    justify-content:center;
    width:500px;
    overflow: hidden;
    border-radius: 25px;
    border:4px solid #F76A07;
}
.radio__input{
    display: none;
}
.radio__label{
    margin:0;
    text-align: center;
    flex-grow:2;
    height:40px;
    width:450px;
    vertical-align:bottom;
    font-size:30px;
    font-family: 'Clash Display',sans-serif;
    color:#FEFEFF;
    background-color:#000000 ;
    cursor:pointer;
    transition:background-color 0.01s;
}
.radio__input:checked+ .radio__label{
    background:#F76A07;
}
.radio__input:not(:checked) + .radio__label{
    background: #000000;
    color:#F76A07;
}
/*the rules*/
.numbered-container{
    display:flex;
    min-height:500px;
    background:#000000;
    justify-content: center;
    align-items:center;
    overflow:visible;
    flex-wrap: wrap;
    gap:3rem;
    
}
.container-1 p,.container-2 p,.container-3 p{
    margin-top:20px;
    padding:15px;
    font-family: 'Clash Display',sans-serif;
    font-size:1rem;
    text-align: justify;
    text-justify:inter-word;
    color:#FEFEFF;
}
.container-1,.container-2,.container-3{
    display:flex;
    flex-direction: column;
    height:400px;
    width:320px;
    flex-wrap: wrap;
    position:relative;
    border:6px solid #F76A07;
    border-radius:20px;
}
.circle-1,.circle-2,.circle-3{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F76A07;
    height: 46px;
    width:46px;
    border-radius:50px;
    position:relative;
    border:4px solid #000000;
    margin-top:-25px;
    margin-left:133px;
}
.circle-1 h1,.circle-2 h1,.circle-3 h1{
    font-size: 30px;
    font-weight:600;
    font-family: 'Clash Display', sans-serif;
}